@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --medium-gray: rgb(114, 114, 114);
  --light-gray: rgb(176, 176, 176);
  --lighter-gray: rgb(209, 202, 201);
  --light-gray-170: rgb(176, 170, 169);
  --medium-gray-100: rgb(110, 105, 104);
  --dark-gray: rgb(47, 46, 46);
  --font-jura: "Jura", "Open Sans", sans-serif;
  --font-quicksand: "Quicksand", "Open Sans", sans-serif;
}

html,
body,
div,
h1,
h2,
h3,
p,
span,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--lighter-gray);
}
header {
  background-color: var(--medium-gray);
  box-shadow: 0px 0px 5px 2px var(--dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 10rem;
  margin: 0.5rem;
}
header h1 {
  font-family: var(--font-jura);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
#main {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;
}
.flex_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 70%;
  margin: 0 auto;
}
.hidden {
  display: none;
}
#mesh,
#areaInput,
#convert {
  box-sizing: border-box;
  width: 65%;
  margin: 0.5rem;
  background-color: var(--light-gray);
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0.5rem;
}
#convert{
    font-weight: 600;
    cursor: pointer;
}
#convert:hover{
    box-shadow: 1px 1px 1px 1px var(--dark-gray);
}
#divResults {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 0.5fr);
  grid-template-areas:
  "title title"  
  "code diameter"
    "spacing area"
    "resistence panels"
    "linear-meters .";
  margin-top: 1.5rem;
}
.properties {
  font-family: var(--font-quicksand);
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 0.5rem;
}
#titleResult{
  grid-area: title;
  text-align: center;
  margin-bottom: 0.5rem;
}
.code {
  grid-area: code;
  border-right: 1px dashed var(--dark-gray);
}
#code::before {
  content: "Código: ";
  font-weight: 600;
}
.diameter {
  grid-area: diameter;
}
#diameter::before {
  content: "Diâmetro: ";
  font-weight: 600;
}
#diameter::after {
  content: " mm";
}
.spacing {
  grid-area: spacing;
  border-right: 1px dashed var(--dark-gray);
}
#spacing::before {
  content: "Espaçamento: ";
  font-weight: 600;
}
#spacing::after {
  content: " cm";
}
.area {
  grid-area: area;
}
#area::before {
  content: "Área de FRP: ";
  font-weight: 600;
}
#area::after {
  content: " cm²/m";
}

.resistence {
  grid-area: resistence;
  border-right: 1px dashed var(--dark-gray);
}
#resistence::before {
  content: "Resistência: ";
  font-weight: 600;
}
#resistence::after {
  content: " kgf/m";
}

.numberOfPanels {
  grid-area: panels;
}
#numberOfPanels::before {
  content: "Número de Painéis: ";
  font-weight: 600;
}

.linearMeters {
  grid-area: linear-meters;
  border-right: 1px dashed var(--dark-gray);
}

#linearMeters::before {
  content: "Metros lineares de barras: ";
  font-weight: 600;
}
#linearMeters::after {
  content: " m";
}

.flex_footer {
  display: flex;
  flex-flow: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto 1rem;
  font-family: var(--font-quicksand);
  font-weight: 300;
  color: var(--dark-gray);
  font-size: 0.7rem;
  text-align: center;
}
.developed{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  max-width: 170px;
  margin: 0.5rem auto 0;
}
.developed img {
  width: 15px;
}
.gitlab {
  filter: brightness(0.2);
}
@media only screen and (min-width: 768px) {
  .flex_container {
    flex-flow: row;
    flex-grow: 0;
    max-width: 70%;
    justify-content: space-between;
  }
  #mesh{
    width: 50%;
  }
  #divResults {
    max-width: 70%;
  }
  #titleResult{
    padding: 0;
    margin: 0 auto 1rem;
  }
  .properties{
    margin-left: 4rem;
  }
  .diameter, .area, .numberOfPanels{
    margin-left: 0rem;
  }
}